.footer {
    text-align: center;
    margin: 20px auto;
    padding-top: 20px;
    border-top: 1px solid #eee;
    font-size: 15px;
    line-height: 22px;
    color: #999;
    min-width: 280px;
    width: 80%;
}

.footer a {
    color: #44a3fb;
    cursor: pointer;
}

.footer a:hover {
    color: #00509b;
}