.countContainer {
    width: 200px;
    height: 30px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.countContainer__contador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}

.count-container__button {
    border: none;
    color: #2196f3;
    font-size: 1em;
    background-color: transparent;
}

.count-container__button:hover {
    cursor: pointer;
}

.count-container__button[disabled] {
    color: #999;
    pointer-events: none;
}

.count-container__cant {
    color: rgb(61, 60, 60);
}

.cardDetail_details_cart {
    width: 120px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid rgb(206, 205, 205);
    color: #fff;
    background-color: #2196f3;
    font-weight: 500;
    line-height: 1.75;
}

.cardDetail_details_cart:hover {
    background-color: #0f446f;
    transition: .5s;
}