.countContainer {
    width: 100px;
    height: 30px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.countContainer__contador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}

.count-container__button {
    border: none;
    color: #2196f3;
    font-size: 1em;
    background-color: transparent;
}

.count-container__button:hover {
    cursor: pointer;
}

.count-container__button[disabled] {
    color: #999;
    pointer-events: none;
}

.count-container__cant {
    color: rgb(61, 60, 60);
}